<div class="d-flex flex-column align-items-center color-component rounded">

  <div class="mb-2 mt-2 " id="createNewProject">
    <button type="button" class="btn mt-3 mb-3 px-lg-5 px-sm-4 shadow-sm" (click)="createNewProject()">+ Créer nouveau</button>
  </div>

  <div class="container">

    <div class="row" id="projectManager">
      <div class="col-12 d-flex flex-row justify-content-center pb-2">
        <span class="material-symbols-outlined align-bottom ms-0 me-2">folder_copy</span>
        <h4 class="pt-0">   Les projets</h4>
      </div>

      <div class="col-12" id="listProject">
        <div *ngIf="projects.length!=0;else projectEmpty" class="max-height-10">
          <div *ngFor="let project of projects" class="hidden mb-n1 pt-1 cursor-pointer user-select-none project" (click)="changeSelectedProject(project)">
            <span class="material-symbols-outlined align-bottom ">folder</span>
            <span class="mt-5">  {{project.name}}</span>
            <!--button type="button" class="material-symbols-outlined btn px-lg-5 px-sm-4 shadow-sm">close</button-->
            <hr class="hr mb-0 mt-2" />
          </div>
        </div>
        <ng-template #projectEmpty>
          <div class="ps-5">
            <span>< Aucun projet ></span>
          </div>
        </ng-template>

      </div>
    </div>

    <div class="row mt-5 mb-3 ps-1 pe-1" id="storageMonitoring">
      <div class="d-flex flex-column ">
        <span class="ms-2 mb-2">Stockage</span>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:{{getPercentOfStorage()}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <span style="font-size: small;" class = " ms-2 mt-2">{{storage[0]}} GB ({{getPercentOfStorage()}}%) de {{storage[1]}} GB utilisés</span>
      </div>
    </div>

  </div>

</div>
