/* Imports*/

/* Import boostrap */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";

body{
  background-color : #F6F7FA;
  font-family: "Calibri";
  overflow-y: scroll;
}

.color-component{
  background-color: var(--bs-white);
}

.cursor-pointer {
  cursor: pointer;
}
