<!-- IMPORTS -->
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<div *ngIf="newResourceView" class="d-flex align-items-center popup">
  <div class="container-fluid ">
    <div class="d-flex justify-content-center">
      <div class="color-component rounded p-2 vw-25">
        <h3 class="text-center ">Créer une nouvelle entité</h3>
        <div class="d-flex flex-column justify-content-center">
          <div class="mt-2 d-flex flex-column">
            <span>Nom :</span><input class="mb-2" #resourceName>
            <span>Image à capturer :</span><input class="mb-2 form-control" type="file" #resourceThumbnail>
            <span>Vidéo (url):</span><input class="mb-2 form-control" value="https://player.vimeo.com/video/879891554?h=fba301cac0" #resourceVideo>
            <span>Son :</span><input class="mb-2 form-control" type="file" #resourceSound>
            <span class="me-3">Image à afficher : </span><input class="mb-2 form-control" type="file" #resourceImage>
          </div>
          <p class="text-justify mb-2">Note : Après capture d'une image, affiche soit la vidéo (url) soit une image. Il est inutile de remplir les 2 champs.</p>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <button type="button"
                  class="m-1 p-1 btn cursor-pointer user-select-none material-symbols-outlined"
                  (click)="hideNewResource()">close
          </button>
          <button type="button"
                  class="m-1 p-1 btn cursor-pointer user-select-none"
                  (click)="createNewResource(resourceName,resourceThumbnail,resourceVideo,resourceSound,resourceImage)">
            Enregistrer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="renameView" class="d-flex align-items-center popup">
  <div class="container-fluid ">
    <div class="d-flex justify-content-center">
      <div class="colorBack rounded p-2">
        <h3 class="text-center ">Rennomer le projet</h3>
        <div class="d-flex flex-column justify-content-center">
          <div>
            <span class="me-2">Ancien nom :</span>
            <span>{{project.getName()}}</span>
          </div>
          <div class="mt-2">
            <span class="me-2">Nouveau nom :</span>
            <input #newName>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <button type="button"
                    class="m-1 p-1 btn cursor-pointer user-select-none material-symbols-outlined"
                    (click)="hideRenameProject()">close
            </button>
            <button type="button"
                    class="m-1 p-1 btn cursor-pointer user-select-none"
                    (click)="renameProject(newName.value)">Enregistrer
            </button>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<!-- Editing resources. This section is only visible when the user selects an resource -->

<div *ngIf="editResourceView" class="d-flex align-items-center justify-content-center popup">
  <button type="button"
          class="m-1 p-1 btn material-symbols-outlined position-absolute top-0 end-0 cursor-pointer user-select-none"
          (click)="exitEdition()">close
  </button>
  <div class="d-flex">
    <div class="d-flex flex-column">
      <div type="button" class="material-symbols-outlined rounded-start color-component p-2 user-select-none" [ngClass]="{'colorBack-Item': ongletSelected!=Onglet.Base}" (click)="ongletSelected=Onglet.Base">
        filter_vintage
      </div>
      <div type="button" class="material-symbols-outlined rounded-start color-component p-2 mt-1 user-select-none" [ngClass]="{'colorBack-Item': ongletSelected!=Onglet.Thumbnail}" (click)="ongletSelected=Onglet.Thumbnail">
        video_stable
      </div>
      <div type="button" class="material-symbols-outlined rounded-start color-component p-2 mt-1 user-select-none" [ngClass]="{'colorBack-Item': ongletSelected!=Onglet.Video}" (click)="ongletSelected=Onglet.Video">
        video_file
      </div>
      <div type="button" class="material-symbols-outlined rounded-start color-component p-2 mt-1 user-select-none" [ngClass]="{'colorBack-Item': ongletSelected!=Onglet.Image}" (click)="ongletSelected=Onglet.Image">
        add_photo_alternate
      </div>
      <div type="button" class="material-symbols-outlined rounded-start color-component p-2 mt-1 user-select-none" [ngClass]="{'colorBack-Item': ongletSelected!=Onglet.Sound}" (click)="ongletSelected=Onglet.Sound">
        audio_file
      </div>
    </div>
    <div class="d-flex color-component p-2">
      <div class="colorBack d-flex justify-content-center" style="width: 25rem; height: 25rem;">
        <div *ngIf="ongletSelected==Onglet.Base" >
          <div class="flex-column justify-content-center">
            <h4 class="mt-2 text-center" contenteditable="true" style="width: 20rem;" #resourceNewName (input)="changeNewName(resourceNewName.textContent)">{{resourceSelected?.name}}</h4>
            <div class="d-flex flex-column colorFont">
              <h6><b>Créé le</b> : {{resourceSelected?.creationDate}}</h6>

              <hr class="hr mb-1 mt-1"/>

              <div class="d-flex justify-content-center mt-2">
                <button type="button" class="btn " (click)="deleteResource()">
                  Supprimer {{resourceSelected?.name}}</button>
              </div>
              <div class="d-flex justify-content-center mt-2">
                <button *ngIf="newName!=''" type="button" class="btn" (click)="renameResource()">Renommer
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="ongletSelected==Onglet.Thumbnail">
          <div class="flex-column justify-content-center">
            <h4 class="mt-2 text-center">Image à scanner</h4>
            <div class="border colorBack square mb-3 position-relative ">
              <img class="img-fluid" src="data:image/png;base64, {{resourceSelected?.thumbnail}}">
              <input type="file" style="display: none;" #NewThumbnail (change)="uploadNewThumbnail(NewThumbnail)"/>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button"
                      class="m-1 p-1 btn cursor-pointer user-select-none"
                      (click)="NewThumbnail.click()">Modifier
              </button>
            </div>
            <div class="d-flex flex-column justify-content-center">
              <h6 class="text-center">Markers</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
              </div>
            </div>

          </div>
        </div>
        <div *ngIf="ongletSelected==Onglet.Video">
          <div class="flex-column justify-content-center">
            <h4 class="mt-2 text-center">Vidéo</h4>
            <div class="d-flex border colorBack square mb-1">
              <iframe class="mw-100 mh-100" [src]="resourceSelected?.videoAsset | safe"
                      allow="autoplay; fullscreen; image-in-image" allowfullscreen></iframe>
            </div>
            <div class="d-flex border colorBack mb-3">
              <input type="text" class="form-control form-control-custom color-component" placeholder="Url..."
                     value="{{resourceSelected?.videoAsset}}" #NewVideoUrl>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button"
                      class="m-1 p-1 btn cursor-pointer user-select-none"
                      (click)="uploadNewVideo(NewVideoUrl)">Modifier
              </button>
            </div>

          </div>
        </div>
        <div *ngIf="ongletSelected==Onglet.Image">
          <div class="flex-column justify-content-center">
            <h4 class="mt-2 text-center">Image à afficher</h4>
            <div class="border colorBack square mb-3 position-relative ">
              <img class="mh-100 mw-100" src="data:image/png;base64, {{resourceSelected?.imageAsset}}">
              <input type="file" style="display: none;" #NewImage (change)="uploadNewImage(NewImage)"/>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button"
                      class="m-1 p-1 btn cursor-pointer user-select-none"
                      (click)="NewImage.click()">Modifier
              </button>
            </div>

          </div>
        </div>
        <div *ngIf="ongletSelected==Onglet.Sound">
          <div class="flex-column justify-content-center">
            <h4 class="mt-2 text-center">Son</h4>
            <figure>
              <audio controls src="{{resourceSelected?.audioAsset}}"></audio>
            </figure>
            <input type="file" style="display: none;" #NewAudio (change)="uploadNewAudio(NewAudio)"/>
            <div class="d-flex justify-content-end">
              <button type="button"
                      class="m-1 p-1 btn cursor-pointer user-select-none"
                      (click)="NewAudio.click()">Modifier
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>

<div class="container-fluid color-component rounded mb-3">
  <div class="row ms-2 me-2">

    <div class="d-flex justify-content-between col-12 me-0 ms-0 pe-2 ps-2" id="research">
      <div class="col-lg-3 col-xl-2 col-sm-6 col-md-3 mt-4 colorBack rounded">
        <div class="custom-form colorFont">
          <span class="material-symbols-outlined ms-2">search</span>
          <input class="form-control form-control-custom" type="search" placeholder="Rechercher ..." (change)="filterList()"
                 (input)="filterList()" #filterResource>
        </div>
      </div>
      <div class="mt-4 colorBack rounded">
        <div class="dropdown user-select-none cursor-pointer">
          <button type="button" class="btn material-symbols-outlined" [disabled]="project.getId() == '-1'">Settings</button>
          <div class="dropdown-content" *ngIf="project.getId() != '-1'">
            <a (click)="showRenameProject()">Renommer</a>
            <a (click)="deleteProject()">Supprimer</a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 row me-0 ms-0 pe-2 ps-2">
      <div class="d-flex justify-content-between mt-4 rounded colorBack" id="bar">
        <div class="d-flex align-items-center">
          <b class="colorFont">{{project.getName()}}</b>
        </div>
        <div class="d-flex align-items-center mt-2 mb-2">
          <button type="button" class="btn px-lg-5 px-sm-4 shadow-sm" (click)="showNewResource()"
                  [disabled]="project.getId() == '-1'">+ Créer nouveau
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 row-column justify-content-center col-12 ps-2 pe-2 mt-2 mb-3 max-height-10" id="resourceShowing">
      <div *ngIf="project.getId() != '-1'">
        <div class="container-fluid ms-0 me-0">
          <div class="row justify-content-center">
            <div *ngFor="let resource of resourcesFiltered" class="col-6 col-lg-3">
              <div class="border-bottom mt-1 mb-1 card" (click)="selectResource(resource)">
                <img class="mh-100 mw-100 rounded-top" src="{{resource.thumbnail}}" alt="Url non valide">
                <h4 class="mb-1 text-center">{{resource.name}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
