.custom-form {
  display: flex;
  align-items: center;
}

.form-control{
  background: none;
  border:none;
  outline: none;
}
.form-control:focus{
  box-shadow: none;
}

.hr{
  color: var(--bs-gray-600);
}

.flex-1-5 {
  flex: 0 0 20%;
}

.colorFont{
  color: var(--bs-gray-600);
}

.btn{
  background-color : #0aabcf;
  color: white;
}

.btn:hover{
  background-color : #009ab5;
  color: white;
}

.card:hover{
  transform: scale(1.05);
  transition: transform .2s;
}

.square {
  width: 300px;
  height: 200px;
  background-color: #f5f5f5;
}

.hidden:hover button{
  visibility: visible;
}

.hidden button{
  visibility: hidden;
}


.vh-75{
  height:75vh;
}

@media (max-width: 1200px) {
  .blocEditing {
    height: 50vh;
  }
}
@media (min-width: 1201px) {
  .blocEditing {
    height: 37vh;
  }
}

.vh-1{
  height:1vh;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
  right:0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgba(0,0,0,0.15); /* Couleur de fond semi-transparente */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

