<!-- a-frame scene -->
<a-scene
  vr-mode-ui="enabled: false;"
  renderer="logarithmicDepthBuffer: true;"
  embedded
  arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: false;"
>
  <!--a-container *ngFor="let resource of resources">
  <a-asset>
    <img *ngIf="resource.imageAsset !=undefined" src="{{resource.imageAsset}}" id="img_{{resource.id}}"/>
    <audio *ngIf="resource.soundAsset !=undefined" src="{{resource.soundAsset}}" id="snd_{{resource.id}}"></audio>
    <video *ngIf="resource.videoAsset !=undefined" src="{{resource.videoAsset}}" id="video_{{resource.id}}"></video>
  </a-asset>

    <a-nft
    type="nft"
    url="{{MARKERS}}/{{resource.id}}/m"
    smooth="true"
    smoothCount="10"
    smoothTolerance=".01"
    smoothThreshold="5"
  >
      <a-entity position="0 0 0" sound="snd_{{resource.id}}">
        <a-video *ngIf="resource.videoAsset !=undefined" src="#video_{{resource.id}}" width="50" height="50" rotation="-90 0 0" position="75 0 -50"></a-video>
        <a-image *ngIf="resource.imageAsset !=undefined" src="#img_{{resource.id}}"  width="50" height="50" position="0 0 0" rotation="-90 0 0"></a-image>
      </a-entity>

  </a-nft>
  </a-container-->

  <a-nft
          type="nft"
          url="assets/1"
          smooth="true"
          smoothCount="10"
          smoothTolerance=".01"
          smoothThreshold="5"
  >

    <a-entity
      geometry="primitive: plane"
      scale="1 1 1" position="300 0 -90" width="100%" height="100%">
      <a-box rotation="-90 0 0" width="100%" height="100%"></a-box>
    </a-entity>


<!--a-entity geometry="primitive: plane"
      scale="1 1 1" position="50% 0 0" width="100%" height="100%"
    >
      <a-video src="assets/asset.mp4" width="100%" height="100%"  rotation="-90 0 0">
      </a-video>
    </a-entity-->

  </a-nft>

  <a-entity camera></a-entity>

</a-scene>

